!!! 5
| <!--[if lt IE 7]><html class="no-js ie ie6 lt-ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
| <!--[if IE 7]>   <html class="no-js ie ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
| <!--[if IE 8]>   <html class="no-js ie ie8 lt-ie9 lt-ie10"><![endif]-->
| <!--[if IE 9]>   <html class="no-js ie ie9 lt-ie10"><![endif]-->
| <!--[if gt IE 9]><html class="no-js ie ie10"><![endif]-->
| <!--[if !IE]><!-->
html.no-js
  | <!--<![endif]-->

head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')

        title Turbo Formula

    // Modernizr 
    script(src='js/libs/modernizr-2.6.2.min.js')

    // jQuery
    script(type='text/javascript', src='js/libs/jquery-1.10.2.min.js')

    // framework css 
    | <!--[if gt IE 9]><!-->
    link(type='text/css', rel='stylesheet', href='css/groundwork.css')
    | <!--<![endif]-->

    //if lte IE 9
      link(type='text/css', rel='stylesheet', href='css/groundwork-core.css')
      link(type='text/css', rel='stylesheet', href='css/groundwork-type.css')
      link(type='text/css', rel='stylesheet', href='css/groundwork-ui.css')
      link(type='text/css', rel='stylesheet', href='css/groundwork-anim.css')
      link(type='text/css', rel='stylesheet', href='css/groundwork-ie.css')
      
    // Custom CSS
    link(rel='stylesheet', href='/css/index.css')
    
  body
    .header
      h1.page-title Turbo Formula

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') News
      li: a(href='#about') About
      li: a(href='#contact') Contact
    
    .main-content
      block content

    .footer 
      p Copyright &copy; #{new Date().getFullYear()} Turbo Formula Ltd
