extend default

block content
  p.
    Welcome to the official Turbo Formula Game Development Studio!
    
    aside.one.fourth.left-two.padded.border-right.bounceInLeft.animated
          h1= Left Sidebar
          .row
            <div class="one whole two-up-small-tablet one-up-mobile">
              <ul class="list">
                <li>Unordered list item #1</li>
                <li>Unordered list item #2</li>
                <li>Unordered list item #3</li>
                <li>Unordered list item #4</li>
              </ul>
            </div>
            <div class="one whole two-up-small-tablet one-up-mobile">
              <ol class="list">
                <li>Ordered list item #1</li>
                <li>Ordered list item #2</li>
                <li>Ordered list item #3</li>
              </ol>
            </div>
          </div>
          <hr>
          <h3>Left Sidebar Image Gallery</h3>
          <div class="row">
            <div class="one half three-up-small-tablet two-up-mobile padded align-center"><img src="http://placehold.it/120x85/e67e22/ffffff/" alt=""></div>
            <div class="one half three-up-small-tablet two-up-mobile padded align-center"><img src="http://placehold.it/120x85/e67e22/ffffff/" alt=""></div>
            <div class="one half three-up-small-tablet two-up-mobile padded align-center"><img src="http://placehold.it/120x85/e67e22/ffffff/" alt=""></div>
            <div class="one half three-up-small-tablet two-up-mobile padded align-center"><img src="http://placehold.it/120x85/e67e22/ffffff/" alt=""></div>
            <div class="one half three-up-small-tablet two-up-mobile padded align-center"><img src="http://placehold.it/120x85/e67e22/ffffff/" alt=""></div>
            <div class="one half three-up-small-tablet two-up-mobile padded align-center"><img src="http://placehold.it/120x85/e67e22/ffffff/" alt=""></div>
          </div>
          <div class="pad-right pad-left">
            <p class="align-right">
              <button class="orange">View more</button>
            </p>
          </div>
        </aside>