extend default

block content
  p.
    Welcome to the official Turbo Formula Game Development Studio!
    
    aside.one.fourth.left-two.padded.border-right.bounceInLeft.animated
        h1 Left Sidebar
            .row
                .one.whole.two-up-small-tablet.one-up-mobile
                    ul.list
                        li Unordered list item #1
                        li Unordered list item #2
                        li Unordered list item #3
                        li Unordered list item #4
                .one.whole.two-up-small-tablet.one-up-mobile
                    ol.list
                        li Ordered list item #1
                        li Ordered list item #2
                        li Ordered list item #3
            hr
            h3 Left Sidebar Image Gallery
            .row
                .one.half.three-up-small-tablet.two-up-mobile.padded.align-center 
                 img(src='http://placehold.it/120x85/e67e22/ffffff/', alt='')
                .one.half.three-up-small-tablet.two-up-mobile.padded.align-center
                 img(src='http://placehold.it/120x85/e67e22/ffffff/', alt='')
                .one.half.three-up-small-tablet.two-up-mobile.padded.align-center
                 img(src='http://placehold.it/120x85/e67e22/ffffff/', alt='')
                .one.half.three-up-small-tablet.two-up-mobile.padded.align-center
                 img(src='http://placehold.it/120x85/e67e22/ffffff/', alt='')
                .one.half.three-up-small-tablet.two-up-mobile.padded.align-center
                 img(src='http://placehold.it/120x85/e67e22/ffffff/', alt='')
                .one.half.three-up-small-tablet.two-up-mobile.padded.align-center
                 img(src='http://placehold.it/120x85/e67e22/ffffff/', alt='')
  
            .pad-right.pad-left
                p.align-right
                    button.orange View more

